<section class="content-section container">
    <app-category-headline [articlesList]="articlesByNew" [category]="articleListType.New" [title]="'החדשים ביותר'"
        (moveWasClicked)="move(articleListType.New, $event)"></app-category-headline>
    <app-articles-moving class="article-items" [articlesList]="articlesByNew"></app-articles-moving>
</section>

<section class="content-section container">
    <app-category-headline [articlesList]="articlesByStarred" [category]="articleListType.Starred"
        [title]="'המדורגים ביותר'" (moveWasClicked)="move(articleListType.Starred, $event)"></app-category-headline>
    <app-articles-moving class="article-items" [articlesList]="articlesByStarred"></app-articles-moving>
</section>

<section class="content-section container">
    <app-category-headline [articlesList]="articlesByVisited" [category]="articleListType.Visited"
        [title]="'הנצפים ביותר'" (moveWasClicked)="move(articleListType.Visited, $event)"></app-category-headline>

    <app-articles-moving class="article-items" [articlesList]="articlesByVisited"></app-articles-moving>
</section>