<h2 class="section-header">אזור אישי</h2>

<section class="content-section container">
    <h3>הפרטים שלי</h3>
    <app-user-details [propList]="userDetailsPropList"></app-user-details>
</section>

<section class="content-section container">
    <h3>קצת על עצמי</h3>
    <app-user-details [propList]="userHobbiesPropList"></app-user-details>
</section>

<section class="content-section container">
    <h3>טקסט חופשי</h3>
    <p>תוכן הטקסט</p>
    <button class="btn btn-success">עריכה -</button>
</section>

<section id="statistics" class="content-section container">
    <h3>סטטיסטיקה</h3>
    <p>מאמרים</p>
    <p>כוכבים</p>
    <p>צפיות</p>
</section>

<section class="content-section container">
    <h3>המאמרים שלי</h3>
</section>